@charset "UTF-8";

body {
    background-color: rgb(2, 62, 62);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.508);
    border-radius: 15px;
}

div#photo {
    text-align: center;
}

img{
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 15px;
    color: white;
}